body{
    margin: 0px;
    border: 2px solid red;
    padding: 5px;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px 300px 80px;
}

.header{
    background-color: rgb(76, 174, 235);
    grid-column: span 12;
}

.left{
    /* Flex Item - đây là con */
    background-color: rgb(245, 215, 61);
    grid-column: span 3;
}

.content{
    background-color: rgb(215, 80, 53);
    grid-column: span 6;
}

.right{
    background-color: rgb(245, 215, 61);
    grid-column: span 3;
}

/* CSS cho FOOTER */

.footer{
    background-color: rgb(76, 174, 235);
    grid-column: span 12;
}