body{
    margin: 0px;
    border: 2px solid red;
    padding: 5px;
}

.header{
    background-color: rgb(76, 174, 235);
}

ul{
    display: flex;
    list-style: none;
    margin: 0;
    /* Bản chất ul sẽ luôn sinh ra 1 khoảng trắng bao quanh (margin) */
}

ul li{
    margin-right: 5px;
}

/* CSS cho HÀNG 2 */

.main{
    /* Flex Container - đây là cha */
    display: flex;
}

.left{
    /* Flex Item - đây là con */
    background-color: rgb(245, 215, 61);
    width: 20%;
}

.content{
    background-color: rgb(215, 80, 53);
    width: 60%;
}

.right{
    background-color: rgb(245, 215, 61);
    width: 20%;
}

/* CSS cho FOOTER */

.footer{
    background-color: rgb(76, 174, 235);
}